.search-container {
  width: 100%;
  max-width: 600px;
  position: relative;
  margin-top: 1rem;
}

.search-input {
  width: 100%;
  padding: 0.8rem 1rem 0.8rem 3rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 999px;
  color: white;
  transition: border-color 0.2s;
}

.search-input:focus {
  border-color: #666;
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  width: 18px;
  height: 18px;
}

.search-input:focus + .search-icon {
  color: #fff;
}
